html {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 62.5%; /* 16px * 62.5 = 10px = 1rem */
  box-sizing: border-box;
}
body {
  margin: 0;
  min-height: 100vh;
  font: 1.6rem;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  background-color: #fff;
  overflow-x: hidden;
}

main {
  margin: 0 auto;
  max-width: 152rem;
  background-color: #fff;
}

@media (max-width: 850px) {
  main {
    width: 56rem;
  }
}
@media (min-width: 850px) {
  main {
    max-width: 152rem;
  }
}

/******************/
/* hero-section   */
/******************/
.hero-section {
  position: relative;
  width: 100%;
  height: 72rem;
  background-image: url('/sushigo-langley/img/hero_bg_desktop.png');
  background-repeat: no-repeat;
  background-position: center top;
}
.hero-section-button {
  position: absolute;
  top: 56%;
  right: -187%;
  bottom: 0;
  left: -213%;
  text-align: center;
  animation-name: move-hero-button;
  animation-duration: 0.7s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.hero-section-button-mobile {
  position: absolute;
  top: 57%;
  right: -194%;
  bottom: 0;
  left: -206%;
  text-align: center;
  animation-name: move-hero-button;
  animation-duration: 0.7s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes move-hero-button {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(-1rem, -1rem);
  }
}
@media (max-width: 850px) {
  .hero-section {
    height: 45rem;
    background-image: url('/sushigo-langley/img/hero_bg_mobile.png');
  }
  .hero-section-button {
    display: none;
  }
}
@media (min-width: 850px) {
  .hero-section {
    height: 72rem;
  }
  .hero-section-button-mobile {
    display: none;
  }
}

/******************/
/* introduction-section */
/******************/
.introduction-section {
  position: relative;
  height: 72rem;
}
.welcome-section {
  position: relative;
  top: -8rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.welcome-section-box {
  padding-right: 2.3rem;
  width: 40rem;
  text-align: right;
}
.welcome-section-box-title {
  padding: 1.8rem 0;
  font-family: 'myriad pro', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2.4rem;
  color: #e4007f;
}
.welcome-section-box-desc {
  font-family: 'Avenir Next Regular', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.9rem;
  color: #464545;
}

.enjoy-section {
  position: relative;
  top: -19rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.enjoy-section-box {
  padding-left: 2.3rem;
  width: 40rem;
  text-align: left;
}
.enjoy-section-box-title {
  padding: 1.8rem 0;
  font-family: 'myriad pro', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2.4rem;
  color: #e4007f;
}
.enjoy-section-box-desc {
  font-family: 'Avenir Next Regular', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.9rem;
  color: #464545;
}
@media (max-width: 850px) {
  .introduction-section {
    position: relative;
    height: 100%;
  }
  .welcome-section {
    top: 0;
    flex-direction: column-reverse;
  }
  .welcome-section-box {
    padding: 2.3rem 0;
    text-align: center;
  }
  .enjoy-section {
    top: 0;
    flex-direction: column;
  }
  .enjoy-section-box {
    padding: 2.3rem 0;
    text-align: center;
  }
}
@media (min-width: 850px) {
  .introduction-section {
    position: relative;
    height: 72rem;
  }
  .welcome-section {
    top: -8rem;
    flex-direction: row;
  }
  .welcome-section-box {
    padding-right: 2.3rem;
    text-align: right;
  }
  .enjoy-section {
    top: -19rem;
    flex-direction: row;
  }
  .enjoy-section-box {
    padding-left: 2.3rem;
    text-align: left;
  }
}


/******************/
/* menu-section */
/******************/
.menu-section {
  position: relative;
  width: 100%;
  height: 54.2rem;
  background-image: url('/sushigo-langley/img/menu_bg_desktop.jpg');
  background-repeat: no;
}
.menu-section-title {
  padding: 3.8rem 0 1rem;
  width: 100%;
  font-family: 'Apple Chancery', sans-serif;
  font-weight: 400;
  font-size : 4.8rem;
  color: #ffffff;
  text-align: center;
}
.menu-section-title > span {
  font-size: 4.8rem;
  color : #e4007f;
}
.menu-section-desc {
  width: 100%;
  font-family: 'Chakra Petch Light', sans-serif;
  font-weight: 400;
  font-size : 1.4rem;
  color: #ffffff;
  text-align: center;
}
.menu-section-box {
  position: absolute;
  bottom: 8.4rem;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 3.6rem;
}
.menu-section-item {
  font-family: 'Baskerville';
  font-weight: 400;
  font-size: 3rem;
  color: #ffffff;
  text-align: center;
}
@media (max-width: 850px) {
  .menu-section {
    height: 95rem;
    background-image: url('/sushigo-langley/img/menu_bg_mobile.jpg');
    background-size: contain;
  }
  .menu-section-box {
    position: relative;
    top: 1.6rem;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0;
  }
}
@media (min-width: 850px) {
  .menu-section {
    height: 54.2rem;
    background-image: url('/sushigo-langley/img/menu_bg_desktop.jpg');
  }
  .menu-section-box {
    position: absolute;
    bottom: 8.4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 3.6rem;
  }
}

/******************/
/* bottom-section */
/******************/
.bottom-section {
  padding: 2.8rem 2.8rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.bottom-section-links {
  padding-right: 2rem;
  width: 33rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.bottom-section-contect {
  font-family: 'Avenir Next';
  font-size: 1.7rem;
  color: #000000;
}
.bottom-section-contect-address {
  padding-left: 1rem;
  height: 3rem;
  font-weight: 400;
  font-size: 1.7rem;
}
.bottom-section-contect-phone {
  padding-left: 1rem;
  height: 3rem;
  font-weight: 400;
  font-size: 2rem;
}
.bottom-section-sns {
  text-align: left;
}
.bottom-section-sns-title {
  padding-left: 1rem;
  font-family: 'Avenir Next';
  font-weight: 600;
  font-size: 2rem;
  color : #e4007f;
}
.bottom-section-sns-facebook {
  cursor: pointer;
}
.bottom-section-map {
  padding-top: 1.1rem;
  width: 45rem;
}
.bottom-section-map > iframe {
  border-radius: 1rem;
}
.bottom-section-business-hours {
  padding-top: 1.1rem;
  padding-left: 2rem;
  width: 26rem;
}
.bottom-section-business-hours > div {
  height: 3.9rem;
  font-family: 'Avenir Next', sans-serif;
  font-weight: 600;
  font-size: 2rem;
  color: #e4007f;
}
.bottom-section-business-hours > table > tbody > tr {
  height: 3rem;
  font-family: 'Avenir Next', sans-serif;
}
.bottom-section-business-hours > table > tbody > tr > td:first-child {
  width: 6rem;
  font-family: 'Avenir Next', sans-serif;
  font-weight: 400;
  font-size: 1.7rem;
  color: #000;
}
.bottom-section-business-hours > table > tbody > tr > td:last-child {
  font-family: 'Avenir Next', sans-serif;
  font-weight: 400;
  font-size: 1.7rem;
  color: #000;
}
@media (max-width: 850px) {
  .bottom-section {
    padding: 6rem 0;
    min-width: 56rem;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
  }
  .bottom-section-links {
    display: none;
  }
  .bottom-section-links-mobile {
    display: show;
  }
  .bottom-section-sns {
    text-align: center;
  }
  .bottom-section-sns-title {
    display: none;
  }
}
@media (min-width: 850px) {
  .bottom-section {
    padding: 2.8rem 2.8rem;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
  }
  .bottom-section-links-mobile {
    display: none;
  }
}
